:root {
  --bg-color: #f5fafe;
  --primary-color: #0a223d;
  --secondary-color: #ec1f46;
  --txt-color-dark: #333333;
  --txt-color-light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  background: var(--bg-color);
  max-width: 100%;
  margin: 0px auto;
  font-family: 'Mulish', sans-serif;
}

.container {
  max-width: 1110px;
  margin: auto;
}

/*Utility*/
ul {
  list-style: none;
}

.bg-primary {
  background: var(--primary-color);
  color: #ffffff;
}

.bg-light {
  background: var(--bg-color);
  color: #333333;
}

.bg-secondary {
  background: var(--secondary-color);
  color: #ffffff;
}

.float-left {
  float: left;
}

.float-clear {
  clear: both;
}

.my-1 {
  margin: 0.75rem 0rem;
}

.py-1 {
  padding: 1rem 1rem;
}

.py-2 {
  padding: 1rem 1.5rem;
}

.py-3 {
  padding: 1rem 2rem;
}

.py-4 {
  padding: 1rem 3rem;
}

.py1 {
  padding: 1rem 0rem;
}

.py2 {
  padding: 1.5rem 0rem;
}

.py3 {
  padding: 2rem 0rem;
}

.py4 {
  padding: 3rem 0rem;
}

.f-size12 {
  font-size: 12px;
}

.f-size14 {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.line {
  width: 65.5rem;
  border-bottom: 1px dashed #e0e0e0;
  margin: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.z-index1 {
  z-index: 2;
}

.btn {
  width: 10rem;
  height: 3.125rem;
  border: 3px solid var(--secondary-color);
  border-radius: 0.25rem;
}

.btn-booking {
  width: 15.3125rem;
  height: 2.8125rem;
  border: 3px solid var(--secondary-color);
  border-radius: 0.25rem;
}

.btn-search {
  width: 4rem;
  height: 2.5rem;
  border-radius: 0px 6px 6px 0px;
  margin-left: -5px;
  margin-top: -2px;
  border: 3px solid var(--secondary-color);
}

.logo {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.logo span {
  color: #ec1f46;
}

#navbar .navtop {
  color: var(--txt-color-dark);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: 3.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .navtop .navtop-right:last-child {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-end;
  height: 3.75rem;
  width: 100%;
}

#navbar .navtop p {
  font-size: 0.75rem;
  text-align: left;
}

#navbar .navtop p i {
  padding-right: 1rem;
}

#navbar .navbar {
  height: 7.5rem;
}

#navbar .navbar .search-bar input[type='text'] {
  padding-left: 1rem;
  height: 2.5rem;
  width: 15rem;
}

#navbar .navbar .search-bar input {
  border-radius: 0.6px;
}

#navbar .navbar .search-bar button {
  color: #ffffff;
}

#navbar .navbar > div {
  height: 7.5rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr 1fr;
      grid-template-columns: 2fr 3fr 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
}

#navbar .navbar .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding-left: 1rem;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .navbar .cart i,
#navbar .navbar .cart p,
#navbar .navbar .cart img {
  margin-left: 1.5rem;
}

#navbar .navbar .cart img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

#navbar .navbottom {
  height: 5rem;
}

#navbar .navbottom div {
  height: 100%;
}

#navbar .navbottom div ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navbar .navbottom div ul li {
  text-align: center;
  width: auto;
  margin: 1.5rem auto;
}

#navbar .navbottom div ul li:first-child {
  margin-left: 0rem;
  text-align: left;
}

#navbar .navbottom div ul li:last-child {
  margin-right: 0rem;
  text-align: right;
}

#navbar .navbottom div ul li a p {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.bread-crump {
  height: 3.125rem;
  padding: 1rem 0rem;
}

.flash-offer {
  height: 1.25rem;
  width: 4.375rem;
  font-size: 0.625rem;
  line-height: 12.55px;
  text-align: center;
  padding: 0.25rem 0.35rem;
  border-radius: 3px;
}

.flash-offer p {
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 13px;
  text-align: left;
}

.flash-offer-2 {
  height: 1.875rem;
  width: 5.938rem;
  font-size: 0.625rem;
  line-height: 12.55px;
  text-align: center;
  padding: 0.5rem 0.35rem;
  border-radius: 3px;
}

.flash-offer-2 p {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  text-align: left;
}

.flash-offer-3 {
  height: 1.125rem;
  width: 4rem;
  font-size: 0.625rem;
  line-height: 12.55px;
  text-align: center;
  padding: 0.125rem 0.35rem;
  border-radius: 3px;
}

.flash-offer-3 p {
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: 10px;
  text-align: left;
}

.book-now {
  padding: 0.6rem 1.5rem;
  width: 7rem;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  border-radius: 4px;
}

.stars {
  color: #f2994a;
  font-size: 12px;
}

#home-content .hotel-name {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: 6.25rem;
}

#home-content .hotel-name .hotel {
  font-size: 1.5rem;
  line-height: 30.12px;
  width: 35rem;
  height: 2rem;
}

#home-content .hotel-name .hotel span {
  margin: 1rem;
}

#home-content .hotel-name .hotel-name-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 50%;
}

#home-content .hotel-name .user-ratings {
  text-align: center;
  padding: 0.5rem;
  -ms-grid-column-align: end;
      justify-self: end;
  width: 4.0625rem;
  height: 2.8125rem;
  border-radius: 4px;
}

#home-content .home-content-a {
  padding-top: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.875rem;
}

#home-content .home-content-a div img {
  height: 28.125rem;
  width: 45.5rem;
  border-radius: 0.5rem;
}

#home-content .home-content-a .booking {
  font-family: 'Nunito', sans-serif;
  border-radius: 0.5rem;
  width: 21.875rem;
  height: 13.125rem;
  padding: 1.625rem 1.8125rem;
}

#home-content .home-content-a .booking .booking-price {
  padding-left: 0rem;
}

#home-content .home-content-a .booking .person-room {
  text-align: right;
}

#home-content .home-content-a .booking .person-room i {
  padding-right: 1rem;
}

#home-content .home-content-a .map {
  margin-top: 1.6875rem;
  width: 21.875rem;
  height: 13.125rem;
}

/* Hotel Info */
#hotel-info {
  /* Info Content */
}

#hotel-info .hotel-info-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hotel-info .hotel-info-menu ul li {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  margin: 1rem 1.688rem;
  padding-bottom: 1rem;
  color: var(--secondary-color);
}

#hotel-info .hotel-info-menu ul li.current {
  border-bottom: 4px #ec1f46 solid;
}

#hotel-info .hotel-info-menu ul li.current a {
  color: var(--secondary-color);
}

#hotel-info .hotel-info-menu ul li:first-child {
  margin: 1rem 0rem;
  margin-right: 1.688rem;
}

#hotel-info .hotel-info-menu ul li:last-child {
  margin-left: 1.688rem;
  margin-right: 0rem;
}

#hotel-info .hotel-info-menu ul li a {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  line-height: 17.57px;
  color: #333333;
  font-weight: 700;
}

#hotel-info .small-title {
  height: 3.125rem;
  border-radius: 4px 4px 0px 0px;
}

#hotel-info .small-title p {
  padding: 1rem 1.5rem;
  font-size: 14px;
  font-weight: 700;
}

#hotel-info .info-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

#hotel-info .package-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
}

#hotel-info .package-card li {
  padding-bottom: 1.5rem;
}

#hotel-info .package-card li p {
  font-size: 12px;
  font-weight: 400;
  line-height: 15.06px;
}

#hotel-info .package-card i {
  margin-right: 1.3rem;
}

#hotel-info .package-card-3x {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.125rem 1.5rem;
  background-color: #ffffff;
}

#hotel-info .package-card-3x > div > p {
  font-size: 13px;
  font-weight: 600;
  line-height: 16.32px;
  margin-bottom: 1.3rem;
}

#hotel-info .package-card-3x li {
  padding-bottom: 1.5rem;
}

#hotel-info .package-card-3x li p {
  font-size: 12px;
  font-weight: 400;
  line-height: 15.06px;
}

#hotel-info .package-card-3x i {
  margin-right: 1.3rem;
}

#hotel-info .guest-review h1 {
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
  margin: 2.5rem 0rem 4rem 0rem;
}

#hotel-info .guest-review .other-packages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 1.875rem;
}

#hotel-info .guest-review .other-packages .packages-type-1 {
  height: 31.25rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hotel-info .guest-review .other-packages .packages-type-1 > div {
  height: 31.25rem;
  width: 22.813rem;
}

#hotel-info .guest-review .other-packages .packages-type-1 > div:first-child {
  background: url(/img/image1.jpg) no-repeat center center/cover;
  border-radius: 8px 0px 0px 8px;
}

#hotel-info .guest-review .other-packages .packages-type-1 > div:last-child {
  padding: 3rem 1.3rem 2.15rem 2.6rem;
  border-radius: 0px 8px 8px 0px;
}

#hotel-info .guest-review .other-packages .packages-type-1 > div:last-child h3 {
  margin-top: 6px;
}

#hotel-info .guest-review .other-packages .packages-type-1 > div:last-child .text {
  margin-top: 1.6rem;
}

#hotel-info .guest-review .other-packages .packages-type-1 > div > p {
  margin-top: 1.625rem;
}

#hotel-info .guest-review .other-packages .packages-type-1 > div ul li {
  margin: 0;
  padding-top: 0.6rem;
}

#hotel-info .guest-review .other-packages .packages-type-1 > div .price {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  width: 55%;
}

#hotel-info .guest-review .other-packages .packages-type-2 {
  height: 31.25rem;
}

#hotel-info .guest-review .other-packages .packages-type-2 > div {
  width: 21.875rem;
  height: 50%;
}

#hotel-info .guest-review .other-packages .packages-type-2 > div:first-child {
  background: url(/img/image1.jpg) no-repeat center center/cover;
  border-radius: 8px 8px 0px 0px;
  padding-top: 1.625rem;
}

#hotel-info .guest-review .other-packages .packages-type-2 > div:last-child {
  padding: 1.875rem 1.3rem 1.5rem 2rem;
  border-radius: 0px 0px 8px 8px;
}

#hotel-info .guest-review .other-packages .packages-type-2 > div:last-child h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  text-align: left;
}

#hotel-info .guest-review .other-packages .packages-type-2 > div:last-child ul li {
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 0.6rem;
}

#hotel-info .guest-review .other-packages .packages-type-2 > div:last-child > p {
  margin-top: 1.625rem;
}

#hotel-info .guest-review .other-packages .packages-type-2 > div:last-child .price {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  width: 55%;
}

/* hotel info end */
#bottom .newsletter {
  width: 100%;
  height: 16rem;
  padding: 6rem;
  position: relative;
}

#bottom .newsletter::before {
  content: '';
  background: url(/img/subs-background.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#bottom .newsletter > div {
  width: 50rem;
  height: 6rem;
  margin: auto;
  position: relative;
  z-index: 2;
  padding-left: 5rem;
}

#bottom .newsletter > div .search-bar {
  margin-left: 10rem;
}

#bottom .newsletter > div .search-bar input[type='text'] {
  padding-left: 1rem;
  height: 3.4rem;
  width: 15rem;
  color: #bdbdbd;
  border-radius: 4px;
}

#bottom .newsletter > div .search-bar button {
  color: #ffffff;
}

#bottom .newsletter > div .btn-search {
  width: 4rem;
  height: 3.4rem;
  border-radius: 0px 6px 6px 0px;
  margin-left: -5px;
  margin-top: -2px;
  border: 3px solid var(--secondary-color);
}

#bottom .newsletter > div .subs {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
}

#bottom .newsletter > div .news-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  text-align: left;
  color: #ffffff;
}

#bottom #other-activities {
  padding: 3.75rem 0rem 6.125rem 0rem;
}

#bottom #other-activities .other-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  margin-bottom: 3.5rem;
}

#bottom #other-activities .other-activities {
  width: 16rem;
  height: 16rem;
  padding-top: 8rem;
  padding-left: 1.625rem;
  color: #ffffff;
  border-radius: 6px;
  background: url(/img/hiking.jpg) no-repeat center center/cover;
}

#bottom #other-activities .other-activities .p-content {
  width: 9rem;
  margin-bottom: 1rem;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

#bottom #other-activities .other-activities-2 {
  width: 16rem;
  height: 16rem;
  padding-top: 8rem;
  padding-left: 1.625rem;
  color: #ffffff;
  border-radius: 6px;
  background: url(/img/golf.jpg) no-repeat center center/cover;
}

#bottom #other-activities .other-activities-2 .p-content {
  width: 9rem;
  margin-bottom: 1rem;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

#bottom #other-activities .activities-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.8rem;
}

/* Footer */
#footer {
  background: #0a223d;
  color: #ffffff;
  padding: 6.25rem 10rem 3rem 10rem;
}

#footer .footer {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

#footer .footer .item1 {
  font-family: Luckiest Guy;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 64px;
  padding-top: 2rem;
}

#footer .footer .item1 span {
  color: #ec1f46;
}

#footer .footer .item2 {
  width: 10rem;
}

#footer .footer .item2 h3 {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  padding-bottom: 0.75rem;
}

#footer .footer .item2 ul li {
  font-family: Mulish;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17, 57px;
  color: #e0e0e0;
  padding-top: 0.5rem;
}

#footer .footer .item3 {
  width: 15.625rem;
}

#footer .footer .item3 h3 {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  padding-bottom: 0.75rem;
}

#footer .footer .item3 ul li {
  font-family: Mulish;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17, 57px;
  color: #e0e0e0;
  padding-top: 0.5rem;
}

#footer .footer .item3 i {
  padding-left: 0.75rem;
}

#footer .footer .item4 {
  width: 12.5rem;
}

#footer .footer .item4 h3 {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  padding-bottom: 0.75rem;
}

#footer .footer .item4 ul li {
  font-family: Mulish;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17, 57px;
  color: #e0e0e0;
  padding-top: 0.5rem;
}

#footer .footer .item5 {
  margin-top: 4rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  width: auto;
}

#footer .footer .item5 h3 {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  padding-bottom: 0.75rem;
}

#footer .footer .item5 i {
  padding-right: 1rem;
}

#footer .footer .item5 ul li {
  padding-top: 1.25rem;
  color: #e0e0e0;
  word-wrap: break-word;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

#footer .footer .item5 ul li p {
  padding-left: 2rem;
}

#footer .footer .item6 {
  margin-top: 4rem;
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3 / span 5;
  width: 35rem;
  height: auto;
}

#footer .footer .item6 h3 {
  width: 20rem;
  font-family: ulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  padding-bottom: 0.75rem;
}

#footer .footer .item6 input[type='text'] {
  width: 16rem;
  height: 3.125rem;
  color: #bdbdbd;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  padding: 1.125rem 1.4rem;
  border-radius: 4px;
}

#footer .footer .item6 input[name='phone'] {
  margin-left: 1.875rem;
}

#footer .footer .item6 textarea {
  padding: 1.125rem 1.4rem;
  width: 34rem;
  color: #bdbdbd;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  border-radius: 4px;
}

#footer .footer .item6 button {
  margin-top: 1.3rem;
}

#footer .footer .item6 .required {
  text-align: right;
  width: 100%;
  color: #e0e0e0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

#footer .footer .item7 {
  margin-top: 5rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  text-align: left;
  color: #ffffff;
}

#footer .footer .item7 ul li {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  padding-left: 2rem;
}

#footer .footer .item8 {
  margin-top: 5rem;
  grid-column: 4 / span -1;
  -ms-grid-column-align: end;
      justify-self: end;
  text-align: right;
  margin-right: 2rem;
}
/*# sourceMappingURL=style.css.map */