:root {
  --bg-color: #f5fafe;
  --primary-color: #0a223d;
  --secondary-color: #ec1f46;
  --txt-color-dark: #333333;
  --txt-color-light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background: var(--bg-color);
  max-width: 100%;
  margin: 0px auto;
  font-family: 'Mulish', sans-serif;
}

.container {
  max-width: 1110px;
  margin: auto;
}

/*Utility*/
ul {
  list-style: none;
}

.bg-primary {
  background: var(--primary-color);
  color: #ffffff;
}

.bg-light {
  background: var(--bg-color);
  color: #333333;
}

.bg-secondary {
  background: var(--secondary-color);
  color: #ffffff;
}

.float-left {
  float: left;
}

.float-clear {
  clear: both;
}

.py-1 {
  padding: 1rem 1rem;
}

.py-2 {
  padding: 1rem 1.5rem;
}

.py-3 {
  padding: 1rem 2rem;
}

.py-4 {
  padding: 1rem 3rem;
}

.py1 {
  padding: 1rem 0rem;
}

.py2 {
  padding: 1.5rem 0rem;
}

.py3 {
  padding: 2rem 0rem;
}

.py4 {
  padding: 3rem 0rem;
}

.f-size12 {
  font-size: 12px;
}

.f-size14 {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.line {
  width: 65.5rem;
  border: 1px dashed #e0e0e0;
}

.btn-booking {
  width: 15.3125rem;
  height: 2.8125rem;
  border: 3px solid var(--secondary-color);
  border-radius: 0.25rem;
}

.btn-search {
  width: 4rem;
  height: 2.5rem;
  border-radius: 0px 6px 6px 0px;
  margin-left: -5px;
  margin-top: -2px;
  border: 3px solid var(--secondary-color);
}

.logo {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

#navbar .navtop {
  color: var(--txt-color-dark);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: 3.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .navtop .navtop-right:last-child {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-end;
  height: 3.75rem;
  width: 100%;
}

#navbar .navtop p {
  font-size: 0.75rem;
  text-align: left;
}

#navbar .navtop p i {
  padding-right: 1rem;
}

#navbar .navbar {
  height: 7.5rem;
}

#navbar .navbar .search-bar input[type='text'] {
  padding-left: 1rem;
  height: 2.5rem;
  width: 15rem;
}

#navbar .navbar .search-bar input {
  border-radius: 0.6px;
}

#navbar .navbar .search-bar button {
  color: #ffffff;
}

#navbar .navbar > div {
  height: 7.5rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 1fr;
      grid-template-columns: 2fr 2fr 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
}

#navbar .navbar .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding-left: 1rem;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .navbar .cart i,
#navbar .navbar .cart p,
#navbar .navbar .cart img {
  margin-left: 1.5rem;
}

#navbar .navbar .cart img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

#navbar .navbottom {
  height: 5rem;
}

#navbar .navbottom div {
  height: 100%;
}

#navbar .navbottom div ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navbar .navbottom div ul li {
  text-align: center;
  width: auto;
  margin: 1.5rem auto;
}

#navbar .navbottom div ul li:first-child {
  margin-left: 0rem;
  text-align: left;
}

#navbar .navbottom div ul li:last-child {
  margin-right: 0rem;
  text-align: right;
}

#navbar .navbottom div ul li a p {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.bread-crump {
  height: 3.125rem;
  padding: 1rem 0rem;
}

#home-content .hotel-name {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: 6.25rem;
}

#home-content .hotel-name .stars {
  color: #f2994a;
}

#home-content .hotel-name .hotel {
  font-size: 1.5rem;
  line-height: 30.12px;
  width: 35rem;
  height: 2rem;
}

#home-content .hotel-name .hotel span {
  margin: 1rem;
}

#home-content .hotel-name .flash-offer {
  height: 1.25rem;
  width: 4.375rem;
  font-size: 0.625rem;
  line-height: 12.55px;
  text-align: center;
  padding: 0.25rem 0.35rem;
  border-radius: 3px;
}

#home-content .hotel-name .hotel-name-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 50%;
}

#home-content .hotel-name .user-ratings {
  text-align: center;
  padding: 0.5rem;
  -ms-grid-column-align: end;
      justify-self: end;
  width: 4.0625rem;
  height: 2.8125rem;
  border-radius: 4px;
}

#home-content .home-content-a {
  padding-top: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.875rem;
}

#home-content .home-content-a div img {
  height: 28.125rem;
  width: 45.5rem;
  border-radius: 0.5rem;
}

#home-content .home-content-a .booking {
  font-family: 'Nunito', sans-serif;
  border-radius: 0.5rem;
  width: 21.875rem;
  height: 13.125rem;
  padding: 1.625rem 1.8125rem;
}

#home-content .home-content-a .booking .booking-price {
  padding-left: 0rem;
}

#home-content .home-content-a .booking .person-room {
  text-align: right;
}

#home-content .home-content-a .booking .person-room i {
  padding-right: 1rem;
}

#home-content .home-content-a .map {
  margin-top: 1.6875rem;
  width: 21.875rem;
  height: 13.125rem;
}

/* Hotel Info */
#hotel-info {
  /* Info Content */
}

#hotel-info .hotel-info-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hotel-info .hotel-info-menu ul li {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  margin: 1rem 1.688rem;
  padding-bottom: 1rem;
  color: var(--secondary-color);
}

#hotel-info .hotel-info-menu ul li.current {
  border-bottom: 4px #ec1f46 solid;
}

#hotel-info .hotel-info-menu ul li.current a {
  color: var(--secondary-color);
}

#hotel-info .hotel-info-menu ul li:first-child {
  margin: 1rem 0rem;
  margin-right: 1.688rem;
}

#hotel-info .hotel-info-menu ul li:last-child {
  margin-left: 1.688rem;
  margin-right: 0rem;
}

#hotel-info .hotel-info-menu ul li a {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  line-height: 17.57px;
  color: #333333;
  font-weight: 700;
}

#hotel-info .small-title {
  height: 3.125rem;
  border-radius: 4px 4px 0px 0px;
}

#hotel-info .small-title p {
  padding: 1rem 1.5rem;
  font-size: 14px;
  font-weight: 700;
}

#hotel-info .info-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

#hotel-info .package-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
}

#hotel-info .package-card li {
  padding-bottom: 1.5rem;
}

#hotel-info .package-card li p {
  font-size: 12px;
  font-weight: 400;
  line-height: 15.06px;
}

#hotel-info .package-card i {
  margin-right: 1.3rem;
}

#hotel-info .package-card-3x {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.125rem 1.5rem;
  background-color: #ffffff;
}

#hotel-info .package-card-3x > div > p {
  font-size: 13px;
  font-weight: 600;
  line-height: 16.32px;
  margin-bottom: 1.3rem;
}

#hotel-info .package-card-3x li {
  padding-bottom: 1.5rem;
}

#hotel-info .package-card-3x li p {
  font-size: 12px;
  font-weight: 400;
  line-height: 15.06px;
}

#hotel-info .package-card-3x i {
  margin-right: 1.3rem;
}
/*# sourceMappingURL=style.css.map */