:root {
    --bg-color: #f5fafe;
    --primary-color: #0a223d;
    --secondary-color: #ec1f46;
    --txt-color-dark: #333333;
    --txt-color-light: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: var(--bg-color);
    max-width: 100%;
    margin: 0px auto;
    font-family: 'Mulish', sans-serif;
}

.container {
    max-width: 1110px;
    margin: auto;
}

/*Utility*/
ul {
    list-style: none;
}
.bg-primary {
    background: var(--primary-color);
    color: #ffffff;
}
.bg-light {
    background: var(--bg-color);
    color: #333333;
}
.bg-secondary {
    background: var(--secondary-color);
    color: #ffffff;
}

.float-left {
    float: left;
}

.float-clear {
    clear: both;
}

.py-1 {
    padding: 1rem 1rem;
}
.py-2 {
    padding: 1rem 1.5rem;
}
.py-3 {
    padding: 1rem 2rem;
}
.py-4 {
    padding: 1rem 3rem;
}
.py1 {
    padding: 1rem 0rem;
}
.py2 {
    padding: 1.5rem 0rem;
}
.py3 {
    padding: 2rem 0rem;
}
.py4 {
    padding: 3rem 0rem;
}

.f-size12 {
    font-size: 12px;
}
.f-size14 {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.line {
    width: 65.5rem;
    border: 1px dashed #e0e0e0;
}
.btn-booking {
    width: 15.3125rem;
    height: 2.8125rem;
    border: 3px solid var(--secondary-color);
    border-radius: 0.25rem;
}
.btn-search {
    width: 4rem;
    height: 2.5rem;
    border-radius: 0px 6px 6px 0px;
    margin-left: -5px;
    margin-top: -2px;
    border: 3px solid var(--secondary-color);
}
.logo {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

#navbar {
    .navtop {
        color: var(--txt-color-dark);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 3.75rem;
        align-items: center;
        & .navtop-right:last-child {
            display: grid;
            grid-template-columns: 2fr 1fr;
            align-items: center;
            justify-items: flex-end;
            height: 3.75rem;
            width: 100%;
        }
        p {
            font-size: 0.75rem;
            text-align: left;
            i {
                padding-right: 1rem;
            }
        }
    }

    .navbar {
        height: 7.5rem;
        .search-bar {
            input[type='text'] {
                padding-left: 1rem;
                height: 2.5rem;
                width: 15rem;
            }

            input {
                border-radius: 0.6px;
            }

            button {
                color: #ffffff;
            }
        }

        & > div {
            height: 7.5rem;
            width: 100%;
            display: grid;
            grid-template-columns: 2fr 2fr 1fr;
            align-content: center;
        }

        .cart {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding-left: 1rem;
            flex: 4;
            align-items: center;

            & i,
            p,
            img {
                margin-left: 1.5rem;
            }

            img {
                height: 3rem;
                width: 3rem;
                border-radius: 50%;
            }
        }
    }
    .navbottom {
        height: 5rem;
        & div {
            height: 100%;
            ul {
                height: 100%;
                display: flex;

                li {
                    text-align: center;
                    width: auto;
                    margin: 1.5rem auto;

                    &:first-child {
                        margin-left: 0rem;
                        text-align: left;
                    }
                    &:last-child {
                        margin-right: 0rem;
                        text-align: right;
                    }

                    a {
                        p {
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
    }
}

.bread-crump {
    height: 3.125rem;
    padding: 1rem 0rem;
}

#home-content {
    .hotel-name {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 6.25rem;

        .stars {
            color: #f2994a;
        }
        .hotel {
            font-size: 1.5rem;
            line-height: 30.12px;
            width: 35rem;
            height: 2rem;

            & span {
                margin: 1rem;
            }
        }

        .flash-offer {
            height: 1.25rem;
            width: 4.375rem;
            font-size: 0.625rem;
            line-height: 12.55px;
            text-align: center;
            padding: 0.25rem 0.35rem;
            border-radius: 3px;
        }
        .hotel-name-area {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 50%;
        }

        .user-ratings {
            text-align: center;
            padding: 0.5rem;
            justify-self: end;
            width: 4.0625rem;
            height: 2.8125rem;
            border-radius: 4px;
        }
    }

    .home-content-a {
        padding-top: 0.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.875rem;

        & div img {
            height: 28.125rem;
            width: 45.5rem;
            border-radius: 0.5rem;
        }

        .booking {
            font-family: 'Nunito', sans-serif;
            border-radius: 0.5rem;
            width: 21.875rem;
            height: 13.125rem;
            padding: 1.625rem 1.8125rem;

            .booking-price {
                padding-left: 0rem;
            }
            .person-room {
                text-align: right;
                i {
                    padding-right: 1rem;
                }
            }
        }
        .map {
            margin-top: 1.6875rem;
            width: 21.875rem;
            height: 13.125rem;
        }
    }
}

/* Hotel Info */
#hotel-info {
    .hotel-info-menu {
        & ul {
            display: flex;

            & li {
                font-family: 'Mulish', sans-serif;
                font-weight: 700;
                margin: 1rem 1.688rem;
                padding-bottom: 1rem;
                color: var(--secondary-color);
                &.current {
                    border-bottom: 4px #ec1f46 solid;
                    & a {
                        color: var(--secondary-color);
                    }
                }
                &:first-child {
                    margin: 1rem 0rem;
                    margin-right: 1.688rem;
                }
                &:last-child {
                    margin-left: 1.688rem;
                    margin-right: 0rem;
                }
                & a {
                    font-family: 'Mulish', sans-serif;
                    font-size: 14px;
                    line-height: 17.57px;
                    color: #333333;
                    font-weight: 700;
                }
            }
        }
    }
    .small-title {
        height: 3.125rem;
        border-radius: 4px 4px 0px 0px;
        & p {
            padding: 1rem 1.5rem;
            font-size: 14px;
            font-weight: 700;
        }
    }
    /* Info Content */
    .info-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
    .package-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;

        li {
            padding-bottom: 1.5rem;

            p {
                font-size: 12px;
                font-weight: 400;
                line-height: 15.06px;
            }
        }
        i {
            margin-right: 1.3rem;
        }
    }

    .package-card-3x {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 6rem;
        align-items: center;
        justify-content: center;
        padding: 2.125rem 1.5rem;
        background-color: #ffffff;

        & > div > p {
            font-size: 13px;
            font-weight: 600;
            line-height: 16.32px;
            margin-bottom: 1.3rem;
        }
        li {
            padding-bottom: 1.5rem;

            p {
                font-size: 12px;
                font-weight: 400;
                line-height: 15.06px;
            }
        }
        i {
            margin-right: 1.3rem;
        }
    }
}
